div.text_reading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    white-space: pre-wrap;
    display: block;
    width: 1080px;
    overflow-x: hidden;
}

ul.messages li {
    list-style: none;
    font-family: 'Comic Sans MS', 'Trebuchet MS';
    margin-left: 0;
    padding-left: 0;
}

ul.messages {
    border: solid 1px lightgray;
    padding: 10px;
    max-width: 1080px;
    max-height: 400px;
    overflow-y: scroll;
}

div.cmdresults {
    font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
    font-size: 16pt;
    white-space: pre-wrap;
    display: block;
    width: 1080px;
    overflow-x: hidden;
    color: white;
    background-color: black;
}
