{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h1>Uma história de sucesso</h1>

    <p>A Empresa Segura tem uma história de 15 anos no ramo de informações para
        o mercado financeiro. São milhões de clientes satisfeitos!
    </p>

    <p>Para saber mais sobre as questões jurídicas, leia nossos termos de uso, contratos
        disclaimer de privacidade clicando em um dos links abaixo:
    </p>
    <ul>
        {% for f in files %}
        <li>
            <a href="/about?doc={{f}}">{{ f }}</a>
        </li>
        {% endfor %}
    </ul>
    <br><hr><br>
    <div class="text_reading">{{ doc }}</div>
    <br><br><br><br><br>
</div>
{% endblock %}
