{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h1>A success story</h1>

    <p>The Secure Company has a 15-year history in the information business for the financial market. There are millions of satisfied customers!</p>

    <p>To learn more about legal questions, read our terms of use, agreements, and Privacy disclaimer by clicking the links below:</p>

    <ul>
        {% for f in files %}
        <li>
            <a href="/about?doc={{f}}">{{ f }}</a>
        </li>
        {% endfor %}
    </ul>

    <br><hr><br>

    <div class="text_reading">{{ doc }}</div>

    <br><br><br><br><br>
</div>
{% endblock %}
