{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h1>Uma história de muita segurança</h1>

    <p>Há anos fazemos sistemas web seguros,
    sempre pensando em proteção.</p>

    <p>Utilizamos termos de uso e privacidade:</p>
    <ul>
        {% for f in files %}
        <li>
            <a href="/about?doc={{f}}">{{ f }}</a>
        </li>
        {% endfor %}
    </ul>
    <br><hr><br>
    <div class="text_reading">{{ doc }}</div>
    <br><hr><br>
</div>
{% endblock %}
