{% extends 'bootstrap/base.html' %}

<!-- Content Block -->
{% block page_title %} PyVerySafe Site {% endblock %}

<!-- My CSS -->
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

<!-- Content -->
{% block navbar %}
<div class="container">
    <div class="jumbotron" style="background-image: url('/static/images/jumbotron_bg.png')">
        <h1 style="font-weight: bolder">Python SafeSite</h1>
        <h2>Meu sobrinho disse que tá seguro.</h2>
        <p>(ele fez curso de computação)</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restrict">Área Restrita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>
            </ul>
            <form class="form-inline" method="GET" action="/search">
                <input class="form-control" name="text" type="search" placeholder="Buscar posts">&nbsp;
                <button class="btn btn-default" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
</div>
{% endblock %}
