{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h1>Financial Market</h1>

    <p>The Safe Corp is the most reliable source of news and information about financial market on the internet. We are producing quality content for 15 years.</p>
    <p>We have the most advanced security and privacy features on our site. Enjoy.</p>
    <p>In addition to the free content, we also have a menbers area for subscribers that contain exclusive news.</p>

    <br>
    <h2>Latest Posts</h2>
    <br>
    <ul>
        {% for i in items %}
        <li>
            <h3>{{ i[0] }}</h3>
            <p>{{ i[1] }}</p>
        </li>
        {% endfor %}
    </ul>
    <br><br><br><br><br>
</div>
{% endblock %}
