{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h1>Mercado Financeiro</h1>
    <p>O portal Empresa Segura é a fonte de notícias e informações sobre
        o mercado financeiro mais confiável da internet. Estamos há 15 anos
        fazendo conteúdo de qualidade.</p>

    <p>Contamos com os mais avançados recursos de segurança e privacidade em
        nossa página. Aproveite para navegar tranquilamente.</p>

    <p>Além dos conteúdos gratuítos, temos também uma área logada para clientes
        cadastrados que contém notícias exclusivas. Venha fazer parte da nossa
        comunidade de clientes satisfeitos.</p>

    <br>
    <h2>Últimas Postagens</h2>
    <br>
    <ul>
        {% for i in items %}
        <li>
            <h3>{{ i[0] }}</h3>
            <p>{{ i[1] }}</p>
        </li>
        {% endfor %}
    </ul>
    <br><br><br><br><br>
</div>
{% endblock %}
