{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h1>Sign up</h1>
    <h3 style="color: red">{{msg}}</h3><br>

    <p>On this page you can create your login. If you are already logged in, your information will be updated, instead.</p>

    <p>Enter your name, a login, a very strong password and choose a selfie as your profile photo.</p>

    <form method=post enctype="multipart/form-data">
        <input type="text" name="name" class="form-control" placeholder="Name" style="width: 99%"><br>
        <input type="email" name="email" class="form-control" placeholder="your@email.com" style="width: 99%"><br>
        <input type="text" name="login" class="form-control w33" placeholder="nickname">
        <input type="password" name="senha" class="form-control w33" placeholder="A v3ry 5tr0ng P@ssword">
        <input type="file" name="photo" accept="image/*" class="form-control w33"><br><br><br>
        <input type="submit" value="Create login" class="btn">
    </form>
    <br><br><br><br><br>
</div>
{% endblock %}
