{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h1>Server Status</h1>
    <form method="POST">
        <p>Select a command do run and analyse the server health:</p>
        <select name="cmd">
            {% for c in commands %}
                <option>{{ c }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-default" type="submit">Show</button>
    </form><br><hr><br>
    <div class="cmdresults">{{ results }}</div>
    <br><br><br><br><br>
</div>
{% endblock %}
